<template>
  <q-dialog ref="dialog" @hide="onDialogHide">
    <q-card class="q-dialog-plugin">
      <q-card-section class="row items-center q-px-none">
        <q-item clickable v-ripple>
          <q-item-section avatar>
            <q-avatar size="56px" font-size="50px" icon="mdi-emoticon-sad" color="secondary" text-color="white"/>
          </q-item-section>
          <q-item-section>
            <q-item-label lines="2" class="text-h6 text-bold">{{ $t('noMoney') }}</q-item-label>
          </q-item-section>
        </q-item>
        <q-item-label class="text-body2 text-grey q-pa-md">{{ $t('noMoneyDescription') }}
        </q-item-label>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script>

    export default {
        data() {
            return {}
        },
        methods: {
            // following method is REQUIRED
            // (don't change its name --> "show")
            show() {
                this.$refs.dialog.show()
            },

            // following method is REQUIRED
            // (don't change its name --> "hide")
            hide() {
                this.$refs.dialog.hide()
            },

            onDialogHide() {
                // required to be emitted
                // when QDialog emits "hide" event
                this.$emit('hide')
            },

            onOKClick() {
                // on OK, it is REQUIRED to
                // emit "ok" event (with optional payload)
                // before hiding the QDialog
                this.$emit('ok')
                // or with payload: this.$emit('ok', { ... })

                // then hiding dialog
                this.hide()
            },

            onCancelClick() {
                // we just need to hide dialog
                this.hide()
            }
        }
    }
</script>
