<template>
  <q-dialog ref="dialog" @hide="onDialogHide">
    <q-card class="q-dialog-plugin">
      <q-card-section class="row items-center q-px-none">
        <q-item clickable v-ripple>
          <q-item-section avatar>
            <q-avatar size="56px" font-size="50px" icon="mdi-emoticon-excited" color="secondary"
                      text-color="white"/>
          </q-item-section>
          <q-item-section>
            <q-item-label lines="3" class="text-body1 text-bold">{{ $t('haveMoney') }}</q-item-label>
          </q-item-section>
        </q-item>
        <q-item-label class="text-body2 text-grey q-pa-md q-px-lg">
          <q-item-label lines="3" class="text-body1 text-bold text-uppercase q-mb-xs">{{ $t('buyInfo') }}</q-item-label>
          <strong>{{ $t('productName') }}:</strong> &ensp; {{ product.name }} <br>
          <strong>{{ $t('discount') }}:</strong> &ensp; {{ product.price }}
        </q-item-label>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script>

export default {
  props: {
    product: Object
  },
  data () {
    return {}
  },
  methods: {
    // following method is REQUIRED
    // (don't change its name --> "show")
    show () {
      this.$refs.dialog.show()
    },

    // following method is REQUIRED
    // (don't change its name --> "hide")
    hide () {
      this.$refs.dialog.hide()
    },

    onDialogHide () {
      // required to be emitted
      // when QDialog emits "hide" event
      this.$emit('hide')
    },

    onOKClick () {
      // on OK, it is REQUIRED to
      // emit "ok" event (with optional payload)
      // before hiding the QDialog
      this.$emit('ok')
      // or with payload: this.$emit('ok', { ... })

      // then hiding dialog
      this.hide()
    },

    onCancelClick () {
      // we just need to hide dialog
      this.hide()
    }
  }
}
</script>
