/* eslint-disable */
<template>
  <q-page>
    <div class="col q-gutter-y-sm q-pa-md">
      <q-card class="shadow-5 bg-grey-2 text-dark">
        <q-item class="q-pa-md " clickable v-ripple>
          <q-item-section avatar>
            <q-btn color="black" text-color="white" round icon="mdi-chevron-double-left" size="md"
                   :to="{name: 'index'}"/>
          </q-item-section>
          <q-item-section>
            <q-item-label class="text-h6 text-bold" line="1"> {{ $t('lastOperations.label') }}
            </q-item-label>
            <q-item-label class="text-body2 text-grey" lines="3">{{ $t('lastOperations.description') }}</q-item-label>
          </q-item-section>
        </q-item>
      </q-card>
      <q-card class="shadow-5 bg-grey-2 text-dark" v-for="(item,index) in data" :key="index">
        <q-item class="q-pa-md" clickable v-ripple v-if="item.product">
          <q-item-section avatar>
            <q-avatar size="50px">
              <q-img :src="API + 'assets/products/' + item.product.product_picture" spinner-color="black"></q-img>
            </q-avatar>
          </q-item-section>
          <q-item-section>
            <q-item-label class="text-body1 text-bold" line="1">
              {{ item.product.product_name }}
            </q-item-label>
            <q-item-label class="text-body2 text-grey" lines="2">{{ item.product.created_at }}</q-item-label>
          </q-item-section>
          <q-item-section avatar class="q-pt-xs" top>
            <span class="text-caption text-capitalize">{{ $t('price') }}</span>
            <span class="text-secondary text-bold" style="font-size: 25px; margin-top: -8px">
                {{ item.product.product_total }}
            </span>
          </q-item-section>
        </q-item>
        <q-item clickable v-ripple v-if="item.product" class="q-pa-none" dense style="height: 20px">
          <div class="row bg-red full-width justify-center">
            <p class="text-white q-pt-xs">{{ $t('buyProductTag') }}</p>
          </div>
        </q-item>
        <q-item class="q-pa-md " clickable v-ripple v-if="item.services">
          <q-item-section avatar>
            <q-avatar size="50px" v-if="item.service_picture">
              <q-img :src="API + 'assets/products/' + item.service_picture" spinner-color="black"></q-img>
            </q-avatar>
            <q-avatar size="50px" v-else>
              <q-img src="~assets/brand/logo-club.jpg"></q-img>
            </q-avatar>
          </q-item-section>
          <q-item-section>
            <q-item-label class="text-body1 text-bold" line="1">
              {{ item.services.service_name }}
            </q-item-label>
            <q-item-label class="text-body2 text-grey" lines="2">{{ item.services.created_at }}</q-item-label>
          </q-item-section>
          <q-item-section avatar class="q-pt-xs" top>
            <span class="text-caption text-capitalize">{{ $t('price') }}</span>
            <span class="text-secondary text-bold" style="font-size: 25px; margin-top: -8px">
                {{ item.services.service_total }}
            </span>
          </q-item-section>
        </q-item>
        <q-item clickable v-ripple class="q-pa-none" v-if="item.services" dense style="height: 20px">
          <div class="row bg-red full-width justify-center">
            <p class="text-white q-pt-xs">{{ $t('buyServiceTag') }}</p>
          </div>
        </q-item>
        <q-item class="q-pa-md " clickable v-ripple v-if="item.amount_club_member">
          <q-item-section>
            <q-item-label class="text-body1 text-bold" line="1">
              {{ item.amount_club_member.email_receptor || $t('date') }}
            </q-item-label>
            <q-item-label class="text-body2 text-grey" lines="2">{{ item.created_at }}</q-item-label>
          </q-item-section>
          <q-item-section avatar class="q-pt-xs" top>
            <span class="text-caption text-capitalize">
{{$t('amount')}}
            </span>
            <span class="text-secondary text-bold" style="font-size: 25px; margin-top: -8px">
                        {{ item.ammount }}
            </span>
          </q-item-section>
        </q-item>
        <q-item clickable v-ripple class="q-pa-none" v-if="item.amount_club_member" dense style="height: 20px">
          <div class="row  full-width justify-center"
               :class="item.amount_club_member.type === 'S+' || item.amount_club_member.type === 'TR+' ? 'bg-green' : 'bg-red'">
            <p class="text-white q-pt-xs">
              {{ item.amount_club_member.type === 'TR-' ? $t('sendBalance') : item.amount_club_member.type === 'S+' ?
              $t('buy') : $t('reciveBalance')}}
            </p>
          </div>
        </q-item>
      </q-card>
    </div>
  </q-page>
</template>

<script>
    /* eslint-disable */
    import {Plugins} from '@capacitor/core'
    import buyFailed from 'components/buy/buyFailed'
    import buySuccess from 'components/buy/buySuccess'

    const {Storage} = Plugins

    export default {
        name: 'Index',
        created() {
            this.getDataFromServer()
        },
        computed: {
            API() {
                return process.env.API
            },
        },
        data() {
            return {
                data: [],
            }
        },
        methods: {
            async getDataFromServer() {
                const userBefore = await Storage.get({
                    key: 'clubMember'
                })
                const club_members_id = JSON.parse(userBefore.value).club_members_id
                this.$q.loading.show()
                this.$axios.get(process.env.API + 'managment/club_member_history', {
                    params: {
                        orderby: [
                            {
                                id_club_member_history: 3
                            }
                        ],
                        attr: {
                            club_member_id: club_members_id
                        },
                        relations: ['services', 'product', "amount_club_member"]
                    }
                }).then(response => {
                    this.data = response.data
                    this.$q.loading.hide()
                }).catch(error => {
                    this.$q.loading.hide()
                    console.log(error)
                })
            },
        }
    }
</script>
