<template>
  <q-layout view="lHh Lpr lFf">
    <q-page-container>
      <q-page>
        <div class="q-py-lg"
             style=" background: linear-gradient(0deg, #000000 10%, rgba(255,0,104,0.7) 100%); padding-bottom: 100px">
          <div class="row q-pa-md justify-center">
            <q-img
              src="~assets/brand/logo-club.jpg"
              style="width: 15vh"
            ></q-img>
            <q-btn
              fab
              outline
              text-color="grey-2"
              icon="mdi-chevron-double-left"
              class="absolute"
              style="top: 50px; left: 20px; transform: translateY(-50%);"
              :to="{name: 'login'}"
            />

          </div>
          <div class="row justify-center">
            <q-item class="text-grey-1 text-center">
              <q-item-section>
                <q-item-label class="text-grey text-body1 text-bold">{{$t('registerLabel.subtitle')}}</q-item-label>
                <q-item-label class="text-h5 text-bold text-orange" style="font-family: Tahoma">
                  {{$t('registerLabel.title')}}
                </q-item-label>
              </q-item-section>
            </q-item>
          </div>
        </div>
        <div class="row justify-center q-pa-md" style="margin-top: -100px">
          <q-form class="full-width bg-white shadow-10 q-pa-lg" @submit="onSubmit()" style="border-radius: 10px">
            <q-input color="dark" label-color="dark" v-model="register.fullName"
                     :label="$t('register.fullName') + ' *'"
                     :rules="[val => !!val]"
            />
            <q-input color="dark" label-color="dark" v-model="register.birthDay"
                     :label="$t('register.birthDay') + ' *'"
                     mask="date" :rules="['date']">
              <template v-slot:append>
                <q-icon name="event" class="cursor-pointer">
                  <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                    <q-date v-model="register.birthDay" color="grey-10">
                      <div class="row items-center justify-center">
                        <q-btn v-close-popup label="OK" color="grey-10" class="full-width"/>
                      </div>
                    </q-date>
                  </q-popup-proxy>
                </q-icon>
              </template>
            </q-input>
            <q-input color="dark" label-color="dark" v-model="register.phone" :label="$t('register.phone') + ' *'"
                     :rules="[val => !!val]"/>
            <q-input color="dark" label-color="dark" v-model="register.email" :label="$t('register.email') + ' *'"
                     :rules="[val => !!val]"/>
            <q-input color="dark" label-color="dark" v-model="register.passportID"
                     :label="$t('register.passportID') + ' *'"
                     :rules="[val => !!val]"/>
            <q-input color="dark" label-color="dark" v-model="register.address" :label="$t('register.address') + ' *'"
                     :rules="[val => !!val]"/>
            <q-select emit-value map-options option-label="country_name" option-value="id_country" color="dark"
                      label-color="dark"
                      v-model="register.country" :label="$t('register.country') + ' *'"
                      :rules="[val => !!val]"
                      :options="countryOptions"/>
            <q-input color="dark" label-color="dark" v-model="register.adviser" :label="$t('register.adviser') + ' *'"/>
            <q-btn type="submit"
                   size="lg" color="secondary" class="q-mt-xl full-width text-bold" text-color="grey-1"
                   :label="$t('signUp')"
                   :loading="loading"
            >
            </q-btn>
          </q-form>
        </div>
        <div class="row bg-dark justify-center text-grey-3 q-mt-lg q-py-lg">
          {{ $t('copyRight.label') }}
        </div>
      </q-page>
    </q-page-container>
  </q-layout>
</template>

<script>
    import registerResponseOKDialog from './RegisterResponseOK.dialog'
    import registerResponseERROR from './RegisterResponseERROR.dialog'

    export default {
        name: 'Register',
        components: {},
        mounted() {
            this.getCountryData();
        },
        data() {
            return {
                register: {
                    fullName: '',
                    birthDay: '',
                    phone: '',
                    email: '',
                    passportID: '',
                    address: '',
                    country: '',
                    adviser: ''
                },
                countryOptions: [],
                loading: false,
            }
        },
        methods: {
            getCountryData() {
                this.$q.loading.show();
                this.$axios.get(process.env.API + '/nomenclatures/countries').then(response => {
                    this.countryOptions = response.data;
                    this.$q.loading.hide();
                })
            },
            onSubmit() {
                this.loading = true;
                this.$axios.post(process.env.API + 'managment/club_members/register_member_api', {
                    club_members_name: this.register.fullName,
                    club_members_dni: this.register.passportID,
                    club_members_birthday: this.register.birthDay,
                    club_members_email: this.register.email,
                    club_members_phone: this.register.phone,
                    club_members_address: this.register.address,
                    adviser: this.register.adviser,
                    id_country: this.register.country,
                    test: true
                }).then(response => {
                    if (response.data.success) {
                        this.$q.dialog({
                            component: registerResponseOKDialog,
                            parent: this,
                        })
                    } else {
                        this.$q.dialog({
                            component: registerResponseERROR,
                            parent: this,
                        })
                    }
                    this.loading = false
                }).catch(error => {
                    this.loading = false
                })
            },
        }
    }
</script>
