<template>
  <q-dialog ref="dialog" persistent @hide="onDialogHide">
    <q-card class="q-dialog-plugin">
      <q-card-section class="row items-center q-px-none">
        <div class="row justify-center full-width">
          <q-img
            src="~assets/happy-face.png"
            style="width: 25vh"
          ></q-img>
        </div>
        <div class="row justify-center full-width">
          <q-item>
            <q-item-label class="text-h6 text-center">
              {{$t('okRegisterText')}}
            </q-item-label>
          </q-item>
        </div>
        <div class="row full-width q-pa-md">
          <q-btn
            @click="onOKClick()"
            size="lg" color="secondary" class="full-width text-bold" text-color="grey-1"
            label="OK"
          >
          </q-btn>
        </div>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script>
    export default {
        data() {
            return {}
        },

        methods: {
            // following method is REQUIRED
            // (don't change its name --> "show")
            show() {
                this.$refs.dialog.show()
            },

            // following method is REQUIRED
            // (don't change its name --> "hide")
            hide() {
                this.$router.push({name: 'login'});
                this.$refs.dialog.hide()
            },

            onDialogHide() {
                // required to be emitted
                // when QDialog emits "hide" event
                this.$emit('hide')
            },

            onOKClick() {
                // on OK, it is REQUIRED to
                // emit "ok" event (with optional payload)
                // before hiding the QDialog
                this.$emit('ok')
                // or with payload: this.$emit('ok', { ... })

                // then hiding dialog
                this.hide()
            },

            onCancelClick() {
                // we just need to hide dialog
                this.hide()
            }
        }
    }
</script>

