<template>
  <q-dialog ref="dialog" @hide="onDialogHide">
    <q-card class="q-dialog-plugin">
      <q-card-section class="row items-center q-px-none">
        <q-item clickable v-ripple>
          <q-item-section avatar top>
            <q-avatar size="56px" font-size="40px" icon="mdi-cash-check" color="secondary" text-color="white"/>
          </q-item-section>
          <q-item-section>
            <q-item-label lines="1" class="text-h6 text-bold">{{ $t('buyBalance') }}</q-item-label>
            <q-item-label class="text-body2 text-grey">{{ $t('buyBalanceDescription') }}
            </q-item-label>
          </q-item-section>
        </q-item>
        <q-item class="full-width" v-if="!paypalShow">
          <q-form @submit="showPayPalOptions()" class="full-width q-px-sm">
            <q-input type="number" v-model.number="count" :label="$t('balanceToBuy')" suffix="€"></q-input>
            <q-item-label class="text-body2 text-grey q-mt-sm">{{ $t('buyBalanceDescriptionField') }}
            </q-item-label>
            <div class="row full-width q-mt-md">
              <q-btn :disable="!count || count < 0" :label="$t('buy')" type="submit"
                     color="secondary"
                     class="full-width"></q-btn>
            </div>
          </q-form>
        </q-item>

        <div class="row justify-center full-width">
          <q-item class="full-width q-px-lg" v-if="paypalShow">
            <q-item-label class="text-body1 text-bold q-mt-sm">{{ $t('buyBalanceDescriptionPaypal') }}
            </q-item-label>
          </q-item>
          <div id="paypal-button-container"></div>
        </div>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script>
  import {Plugins} from '@capacitor/core'
  import {dom} from 'quasar'
  import transferSuccess from "../transfer/transferSuccess";
  import transferFailed from "../transfer/transferFailed";

  const {Storage} = Plugins

  const {ready} = dom
  export default {
    data() {
      return {
        count: 0,
        paypalShow: false,
        club_members_id: null
      }
    },
    created() {
      this.getInitialData()
    },
    methods: {
      async getInitialData() {
        const user = await Storage.get({
          key: 'clubMember'
        })
        this.club_members_id = JSON.parse(user.value).club_members_id
      },
      showPayPalOptions() {
        this.paypalShow = true;
        const _this = this;
        paypal.Buttons({
          createOrder: function (data, actions) {
            // This function sets up the details of the transaction, including the amount and line item details.
            return actions.order.create({
              purchase_units: [{
                amount: {
                  value: _this.count,
                  currency: "EUR",
                }
              }]
            });
          },
          onApprove: function (data, actions) {
            _this.$q.loading.show()
            // This function captures the funds from the transaction.
            return actions.order.capture().then(function (details) {
              // This function shows a transaction success message to your buyer.
              _this.$axios.post(process.env.API + 'managment/amount_club_member/buy', {
                "id": _this.club_members_id,
                "amount": _this.count
              }).then(response => {
                  if (response.data.success) {
                    _this.$q.dialog({
                      component: transferSuccess,
                      parent: _this,
                    })
                    _this.setCurrency();
                    _this.hide();
                    _this.$q.loading.hide()
                    _this.$router.go(0);
                  } else {
                    _this.$q.loading.hide()
                    _this.$q.dialog({
                      component: transferFailed,
                      parent: _this
                    })
                  }
                }
              ).catch(error => {
                _this.$q.loading.hide()
                console.log(error)
              })
            });
          }
        }).render('#paypal-button-container');
      },

      async setCurrency() {
        const currency = await Storage.get({
          key: 'currency'
        })
        console.log(parseInt(currency.value) + this.count);
        console.log(this.count);
        await Storage.set({
          key: 'currency',
          value: parseInt(currency.value) + this.count
        })
      },

      // following method is REQUIRED
      // (don't change its name --> "show")
      show() {
        this.$refs.dialog.show()
      },

      // following method is REQUIRED
      // (don't change its name --> "hide")
      hide() {
        this.$refs.dialog.hide()
      },

      onDialogHide() {
        // required to be emitted
        // when QDialog emits "hide" event
        this.$emit('hide')
      },

      onOKClick() {
        // on OK, it is REQUIRED to
        // emit "ok" event (with optional payload)
        // before hiding the QDialog
        this.$emit('ok')
        // or with payload: this.$emit('ok', { ... })

        // then hiding dialog
        this.hide()
      },

      onCancelClick() {
        // we just need to hide dialog
        this.hide()
      }
    }
  }
</script>

