<template>
  <q-page>
    <div class="col q-gutter-y-sm q-pa-md">
      <q-card class="shadow-5 bg-grey-2 text-dark">
        <q-item class="q-pa-md " clickable v-ripple>
          <q-item-section avatar>
            <q-btn color="black" text-color="white" round icon="mdi-chevron-double-left" size="md"
                   :to="{name: 'index'}"/>
          </q-item-section>
          <q-item-section>
            <q-item-label class="text-h6 text-bold" line="1"> {{ $t('schoolBeyond.label') }}
            </q-item-label>
            <q-item-label class="text-body2 text-grey" lines="3">{{ $t('schoolBeyond.description') }}</q-item-label>
          </q-item-section>
        </q-item>
        <q-item class="q-px-md q-pb-lg" clickable v-ripple>
          <q-item-section>
            <q-item-label class="text-body1" v-html="$t('schoolBeyond.content')"></q-item-label>
          </q-item-section>
        </q-item>
      </q-card>
    </div>
  </q-page>
</template>

<script>
    export default {
        name: 'Index',
        data() {
            return {}
        },
        methods: {}
    }
</script>
