<template>
  <q-dialog ref="dialog" @hide="onDialogHide" persistent>
    <q-card class="q-dialog-plugin">
      <q-card-section class="row items-center q-px-none">
        <q-item clickable v-ripple>
          <q-item-section avatar top>
            <q-avatar size="56px" icon="mdi-cellphone-nfc" color="secondary" text-color="white"/>
          </q-item-section>
          <q-item-section>
            <q-item-label lines="1" class="text-h6 text-bold">{{ $t('noConnection') }}</q-item-label>
            <q-item-label class="text-body2 text-grey">{{ $t('noConnectionDesc') }}
            </q-item-label>
          </q-item-section>
        </q-item>
        <q-item clickable v-ripple class="full-width">
          <div class="row justify-center full-width">
            <q-btn class="q-px-md q-py-xs full-width" color="secondary" text-color="white"
                   :label="$t('testConnection')"
                   @click="testConnection()"/>
          </div>
        </q-item>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script>
import { connectionState } from 'src/services/connection'
import { QSpinnerRadio } from 'quasar'

export default {
  data () {
    return {}
  },
  methods: {
    testConnection () {
      const _this = this
      this.$q.loading.show({
        spinner: QSpinnerRadio
      })
      setTimeout(function () {
        connectionState().then(response => {
          if (response) {
            _this.hide()
          }
          _this.$q.loading.hide()
        })
      }, 2500)
    },

    // following method is REQUIRED
    // (don't change its name --> "show")
    show () {
      this.$refs.dialog.show()
    },

    // following method is REQUIRED
    // (don't change its name --> "hide")
    hide () {
      this.$refs.dialog.hide()
    },

    onDialogHide () {
      // required to be emitted
      // when QDialog emits "hide" event
      this.$emit('hide')
    },

    onOKClick () {
      // on OK, it is REQUIRED to
      // emit "ok" event (with optional payload)
      // before hiding the QDialog
      this.$emit('ok')
      // or with payload: this.$emit('ok', { ... })

      // then hiding dialog
      this.hide()
    },

    onCancelClick () {
      // we just need to hide dialog
      this.hide()
    }
  }
}
</script>
