<template>
  <q-page>
    <div class="col q-gutter-y-sm q-pa-md">
      <q-card class="shadow-5 bg-dark text-white">
        <q-item class="q-pa-md " clickable v-ripple>
          <q-item-section top avatar>
            <q-avatar font-size="75px" size="70px" text-color="secondary"
                      icon="mdi-account-circle"/>
          </q-item-section>
          <q-item-section>
            <q-item-label class="text-h6 text-bold" line="1">
              {{ user.club_members_name }} {{ user.club_member_last_name }}
            </q-item-label>
            <q-item-label class="text-body2 text-grey" lines="1">{{ user.club_members_email }}</q-item-label>
            <q-item-label class="text-body2 text-grey text-bold" lines="2">
              {{ user.club_member_code || 'DONTEXIST' }}
            </q-item-label>
          </q-item-section>
        </q-item>
        <q-item class="q-px-lg q-pb-md" clickable v-ripple>
          <q-item-section>
            <q-item-label class="text-body2 text-bold" line="1">
              {{ $t('availableBalance') }}
            </q-item-label>
            <q-item-label class=" text-grey" lines="1">
              {{ dateLastUpdate }} {{ $t('dateLastUpdate') }}
            </q-item-label>
          </q-item-section>
          <q-item-section avatar>
            <q-item-label line="1">
              <span class="text-bold text-h4"> {{ currency }} </span>
            </q-item-label>
          </q-item-section>
        </q-item>
      </q-card>
      <q-item-label class="text-body1 text-grey text-uppercase text-bold q-mt-lg"> {{ $t('operations') }}</q-item-label>
      <q-card class="shadow-5">
        <q-item class="q-pa-md" clickable v-ripple @click="openTransferMoneyDialog()">
          <q-item-section>
            <q-item-label class="text-h6 text-bold" line="1">
              {{ $t('transfer.label') }}
            </q-item-label>
            <q-item-label class="text-body2 text-grey" lines="1"> {{ $t('transfer.description') }}</q-item-label>
          </q-item-section>
          <q-item-section top avatar>
            <q-avatar font-size="40px" text-color="secondary" icon="mdi-transfer-right"/>
          </q-item-section>
        </q-item>
      </q-card>
      <q-card class="shadow-5">
        <q-item class="q-pa-md" clickable v-ripple @click="openPayPalDialog()">
          <q-item-section>
            <q-item-label class="text-h6 text-bold" line="1">
              {{ $t('charge.label') }}
            </q-item-label>
            <q-item-label class="text-body2 text-grey" lines="1"> {{ $t('charge.description') }}</q-item-label>
          </q-item-section>
          <q-item-section top avatar>
            <q-avatar font-size="40px" text-color="secondary" icon="mdi-cash-check"/>
          </q-item-section>
        </q-item>
      </q-card>
      <q-card class="shadow-5">
        <q-item class="q-pa-md" clickable v-ripple @click="logout()" exact>
          <q-item-section>
            <q-item-label class="text-h6 text-bold" line="1">
              {{ $t('getOut.label') }}
            </q-item-label>
            <q-item-label class="text-body2 text-grey" lines="1"> {{ $t('getOut.description') }}</q-item-label>
          </q-item-section>
          <q-item-section top avatar>
            <q-avatar font-size="40px" text-color="secondary" icon="mdi-exit-to-app"/>
          </q-item-section>
        </q-item>
      </q-card>
      <q-item-label class="text-body1 text-grey text-uppercase text-bold q-mt-lg"> {{ $t('products') }}</q-item-label>
      <q-card class="shadow-5">
        <q-item class="q-pa-md" clickable v-ripple :to="{name: 'products'}">
          <q-item-section>
            <q-item-label class="text-h6 text-bold" line="1">
              {{ $t('productsList.label') }}
            </q-item-label>
            <q-item-label class="text-body2 text-grey" lines="1"> {{ $t('productsList.description') }}</q-item-label>
          </q-item-section>
          <q-item-section top avatar>
            <q-avatar font-size="40px" text-color="secondary" icon="mdi-cart"/>
          </q-item-section>
        </q-item>
      </q-card>
      <q-card class="shadow-5">
        <q-item class="q-pa-md" clickable v-ripple :to="{name: 'services'}">
          <q-item-section>
            <q-item-label class="text-h6 text-bold" line="1">
              {{ $t('servicesList.label') }}
            </q-item-label>
            <q-item-label class="text-body2 text-grey" lines="1"> {{ $t('servicesList.description') }}</q-item-label>
          </q-item-section>
          <q-item-section top avatar>
            <q-avatar font-size="40px" text-color="secondary" icon="mdi-view-module"/>
          </q-item-section>
        </q-item>
      </q-card>
      <q-item-label class="text-body1 text-grey text-uppercase text-bold q-mt-lg"> {{ $t('petitions') }}</q-item-label>
      <q-card class="shadow-5">
        <q-item class="q-pa-md" clickable v-ripple :to="{name: 'last_operations'}">
          <q-item-section>
            <q-item-label class="text-h6 text-bold" line="1">
              {{ $t('lastOperations.label') }}
            </q-item-label>
            <q-item-label class="text-body2 text-grey" lines="1"> {{ $t('lastOperations.description') }}</q-item-label>
          </q-item-section>
          <q-item-section top avatar>
            <q-avatar font-size="40px" text-color="secondary" icon="mdi-format-line-weight"/>
          </q-item-section>
        </q-item>
      </q-card>
      <q-item-label class="text-body1 text-grey text-uppercase text-bold q-mt-lg"> {{ $t('data') }}</q-item-label>
      <q-card class="shadow-5">
        <q-item class="q-pa-md" clickable v-ripple :to="{name: 'history'}">
          <q-item-section>
            <q-item-label class="text-h6 text-bold" line="1">
              {{ $t('community.label') }}
            </q-item-label>
            <q-item-label class="text-body2 text-grey" lines="1"> {{ $t('community.description') }}</q-item-label>
          </q-item-section>
          <q-item-section top avatar>
            <q-avatar font-size="40px" text-color="secondary" icon="mdi-google-circles-communities"/>
          </q-item-section>
        </q-item>
      </q-card>
      <q-card class="shadow-5">
        <q-item class="q-pa-md" clickable v-ripple :to="{name: 'aboutFounder'}">
          <q-item-section>
            <q-item-label class="text-h6 text-bold" line="1">
              {{ $t('aboutFounder.label') }}
            </q-item-label>
            <q-item-label class="text-body2 text-grey" lines="1"> {{ $t('aboutFounder.description') }}</q-item-label>
          </q-item-section>
          <q-item-section top avatar>
            <q-avatar font-size="40px" text-color="secondary" icon="mdi-account-star"/>
          </q-item-section>
        </q-item>
      </q-card>
      <q-card class="shadow-5">
        <q-item class="q-pa-md" clickable v-ripple :to="{name: 'beyondSchool'}">
          <q-item-section>
            <q-item-label class="text-h6 text-bold" line="1">
              {{ $t('schoolBeyond.label') }}
            </q-item-label>
            <q-item-label class="text-body2 text-grey" lines="1"> {{ $t('schoolBeyond.description') }}</q-item-label>
          </q-item-section>
          <q-item-section top avatar>
            <q-avatar font-size="40px" text-color="secondary" icon="mdi-school"/>
          </q-item-section>
        </q-item>
      </q-card>
    </div>
    <q-item class="text-center q-mt-lg q-py-lg bg-dark" clickable v-ripple>
      <q-item-section class="q-px-xl">
        <q-item-label class="text-h6 text-bold text-secondary" line="1">
          {{ $t('copyRight.label') }}
        </q-item-label>
        <q-item-label class="text-grey text-body1" lines="2"> {{ $t('copyRight.description') }}</q-item-label>
      </q-item-section>
    </q-item>
  </q-page>
</template>

<script>
    import {date} from 'quasar'
    import {Plugins} from '@capacitor/core'
    import transferMoney from '../components/transfer/transferMoney'
    import paypal from '../components/paypal/paypal'

    const {Storage} = Plugins

    export default {
        name: 'Index',
        beforeMount() {
            this.getUserData().then(resp => {
                this.$q.loading.show();
                if (resp.value === null) {
                    this.$router.go(0)
                }
                this.user = JSON.parse(resp.value);
                this.$q.loading.hide();
            });
            this.getCurrencyData()
        },
        computed: {
            dateLastUpdate() {
                return date.formatDate(new Date(), 'HH:mm DD-MM ')
            },
        },
        data() {
            return {
                user: {
                    club_members_name: "",
                    club_members_id: "",
                    club_member_last_name: "",
                    club_members_email: "",
                    club_member_code: "",
                    club_members_picture: null,
                    club_members_created_at: ""
                },
                currency: 0
            }
        },
        methods: {
            getUserData() {
                return Storage.get({key: 'clubMember'});
            },

            async getCurrencyData() {
                const currency = await Storage.get({key: 'currency'});
                this.currency = JSON.parse(currency.value);
            },

            async logout() {
                await Storage.clear();
                this.$router.push({name: 'login'});
            },

            openTransferMoneyDialog() {
                this.$q.dialog({
                    component: transferMoney,
                    parent: this
                })
            },

            openPayPalDialog() {
                this.$q.dialog({
                    component: paypal,
                    parent: this
                })
            },
        }

    }
</script>

