<template>
  <q-layout view="lHh Lpr lFf">
    <q-page-container class="">
      <q-page class="q-pa-md flex flex-center"
              style=" background: linear-gradient(0deg, #000000 10%, rgba(255,0,104,0.7) 100%);">
        <div class="full-width">
          <div class="row justify-center q-pt-lg">
            <q-img
              src="~assets/brand/logo-club.jpg"
              style="width: 21vh"
            ></q-img>
          </div>
          <div class="row justify-center q-pt-lg">
            <b class="text-h3 text-bold">
              <span class="text-secondary">BE</span>
              <span class="text-accent ">inAPP</span>
            </b>
          </div>
          <q-form class="q-pa-sm " @submit="onSubmit()">
            <div class="q-gutter-y-md">
              <q-input filled color="dark" label-color="dark" v-model="credentials.username" :label="$t('email') + ' *'"
                       bg-color="grey-3"
              />
              <q-input type="password" filled color="dark" label-color="dark" v-model="credentials.password"
                       :label="$t('password') + ' *'"
                       bg-color="grey-3"
              />
              <q-btn type="submit"
                     size="lg" color="secondary" class="full-width text-bold" text-color="grey-1"
                     :label="$t('signIn')"
                     :rules="[val => !!val ]"
                     :loading="loading"
              >
              </q-btn>
              <div class="row justify-center items-center q-py-sm">
                <q-btn outline text-color="accent" no-caps class="text-body1 text-bold q-px-lg"
                       :to="{name: 'register'}">
                  {{ $t('signUp') }}
                </q-btn>
              </div>
              <div class="row justify-center">
                <div class="row justify-left q-gutter-x-md ">
                  <q-btn round :class="language === 'es-es' ? 'border-active-language': ''"
                         @click="language = 'es-es'">
                    <q-avatar size="42px">
                      <img src="~assets/flags/espana.png">
                    </q-avatar>
                  </q-btn>
                  <q-btn round :class="language === 'fr-fr' ? 'border-active-language': ''"
                         @click="language = 'fr-fr'">
                    <q-avatar size="42px">
                      <img src="~assets/flags/francia.png">
                    </q-avatar>
                  </q-btn>
                  <q-btn round :class="language === 'en-us' ? 'border-active-language': ''"
                         @click="language = 'en-us'">
                    <q-avatar size="42px">
                      <img src="~assets/flags/reino-unido.png">
                    </q-avatar>
                  </q-btn>
                </div>
              </div>
              <div class="row justify-center text-grey-3 q-mt-lg">
                <small>
                  {{ $t('copyRight.label') }}
                </small>
              </div>
            </div>
          </q-form>
        </div>
      </q-page>
    </q-page-container>
  </q-layout>
</template>

<script>
    /* eslint-disable */
    import {Plugins} from '@capacitor/core'

    const {Storage} = Plugins

    import {connectionState} from '../services/connection'
    import connectionDialogError from 'components/connection/connectionDialogError'

    export default {
        name: 'Login',
        components: {},
        created: function () {
            connectionState().then(response => {
                if (!response) {
                    this.$q.dialog({
                        component: connectionDialogError,
                        parent: this// becomes child of this Vue node
                    })
                }
            })
        },
        data() {
            return {
                credentials: {
                    username: '',
                    password: ''
                },
                loading: false,
                language: this.$i18n.locale
            }
        },
        watch: {
            language(lang) {
                this.$i18n.locale = lang
            }
        },
        methods: {
            onSubmit() {
                this.loading = true
                this.$axios.post(process.env.API + 'site/login', {
                    username: this.credentials.username,
                    password: this.credentials.password
                }).then(response => {
                    this.setInitialData(response.data.token, response.data.token)
                    this.$router.push({name: 'index'})
                    this.loading = false
                }).catch(error => {
                    if (error.response && error.response.status === 422) {
                        this.$q.notify({
                            position: 'top',
                            message: 'Error de autenticación.',
                            caption: 'Por favor revise sus credenciales.',
                            color: 'red',
                            icon: 'mdi-alert-circle-outline'
                        })
                    } else {
                        this.$q.dialog({
                            component: connectionDialogError,
                            parent: this// becomes child of this Vue node
                        })
                    }
                    this.loading = false
                })
            },
            async setInitialData(_token) {
                const responseData = JSON.parse(atob(_token.split('.')[1]))
                const clubMember = JSON.parse(responseData.user).club_member

                await Storage.set({
                    key: 'token',
                    value: _token
                })

                await Storage.set({
                    key: 'language',
                    value: this.language
                })
                await Storage.set({
                    key: 'clubMember',
                    value: JSON.stringify({
                        club_members_name: clubMember.club_members_name,
                        club_members_id: clubMember.id_club_members,
                        club_member_last_name: clubMember.club_member_last_name,
                        club_members_email: clubMember.club_members_email,
                        club_member_code: clubMember.club_member_code,
                        club_members_picture: clubMember.club_members_picture,
                        club_members_created_at: clubMember.created_at
                    })
                })
                await Storage.set({
                    key: 'currency',
                    value: clubMember.clum_members_currency
                })
            }
        }
    }
</script>
<style scoped>
  .border-active-language {
    border: 5px white solid
  }
</style>
