<template>
  <q-dialog ref="dialog" @hide="onDialogHide">
    <q-card class="q-dialog-plugin">
      <q-card-section class="row items-center q-px-none">
        <q-item clickable v-ripple>
          <q-item-section avatar>
            <q-avatar size="56px" font-size="50px" icon="mdi-emoticon-excited" color="secondary"
                      text-color="white"/>
          </q-item-section>
          <q-item-section>
            <q-item-label lines="3" class="text-body1 text-bold">{{ $t('transferMoney') }}</q-item-label>
          </q-item-section>
        </q-item>
        <q-item clickable v-ripple class="full-width">
          <div class="row justify-center full-width">
            <q-btn
              class="q-px-md q-py-xs full-width" color="secondary"
              text-color="white"
              @click="hide()"
              label="OK"/>
          </div>
        </q-item>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script>

    export default {
        data() {
            return {}
        },
        methods: {
            // following method is REQUIRED
            // (don't change its name --> "show")
            show() {
                this.$refs.dialog.show()
            },

            // following method is REQUIRED
            // (don't change its name --> "hide")
            hide() {
                this.$emit('ok');
                this.$refs.dialog.hide()
            },

            onDialogHide() {
                // required to be emitted
                // when QDialog emits "hide" event
                this.$emit('hide')
            },

            onOKClick() {
                // on OK, it is REQUIRED to
                // emit "ok" event (with optional payload)
                // before hiding the QDialog
                this.$emit('ok')
                // or with payload: this.$emit('ok', { ... })

                // then hiding dialog
                this.hide()
            },

            onCancelClick() {
                // we just need to hide dialog
                this.hide()
            }
        }
    }
</script>
