<template>
  <q-dialog ref="dialog" @hide="onDialogHide">
    <q-card class="q-dialog-plugin">
      <q-card-section class="row items-center q-px-none">
        <q-item>
          <q-item-section avatar>
            <q-avatar size="56px" font-size="50px" icon="mdi-transfer-right" color="secondary" text-color="white"/>
          </q-item-section>
          <q-item-section>
            <q-item-label lines="2" class="text-h6 text-bold">{{ $t('transfer.label') }}</q-item-label>
            <q-item-label class="text-body2 text-grey">{{ $t('transfer.description') }}</q-item-label>
          </q-item-section>
        </q-item>
        <q-form @submit.prevent="onSendMoney()" class="full-width">
          <q-item>
            <q-item-section>
              <q-input v-model="email" :label="$t('memberEmail')" type="email">
                <template v-slot:prepend>
                  <q-icon name="mdi-email"/>
                </template>
              </q-input>
              <q-input type="number" v-model.number="count" :label="$t('balanceToSend')">
                <template v-slot:prepend>
                  <q-icon name="mdi-alpha-i-circle"/>
                </template>
              </q-input>
              <q-item-label class="text-body2 text-grey q-mt-sm">{{ $t('transferDescriptionField') }}
              </q-item-label>
            </q-item-section>
          </q-item>
          <q-item clickable v-ripple class="full-width">
            <div class="row justify-center full-width">
              <q-btn :loading="loadingSendMoney" :disable="!email || !count || count < 0"
                     class="q-px-md q-py-xs full-width" color="secondary"
                     text-color="white"
                     type="submit"
                     :label="$t('sendBalance')"/>
            </div>
          </q-item>
        </q-form>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script>
    import {Plugins} from '@capacitor/core'
    import transferFailed from '../transfer/transferFailed'
    import transferFailedNoMember from '../transfer/transferFailedNoMember'
    import transferSuccess from '../transfer/transferSuccess'

    const {Storage} = Plugins
    export default {
        data() {
            return {
                email: '',
                count: '',
                loadingSendMoney: false
            }
        },
        methods: {
            async onSendMoney() {
                this.loadingSendMoney = true;
                const userBefore = await Storage.get({
                    key: 'clubMember'
                })
                const club_member = JSON.parse(userBefore.value)
                this.$axios.post(process.env.API + 'managment/club_members/transfer_money', {
                    id: club_member.club_members_id,
                    email_receptor: this.email,
                    amount: this.count,
                    test: false
                }).then(response => {
                    if (response.data.success) {
                        this.$q.dialog({
                            component: transferSuccess,
                            parent: this
                        }).onOk(() => {
                                this.$router.go(0);
                                this.hide();
                            }
                        );
                        this.setCurrency(this.count);
                    } else {
                        this.$q.dialog({
                            component: transferFailed,
                            parent: this
                        })
                    }
                    this.loadingSendMoney = false;
                }).catch(error => {
                    this.$q.dialog({
                        component: transferFailedNoMember,
                        parent: this
                    })
                    console.log(error)
                    this.loadingSendMoney = false;
                })
            },
            async setCurrency(price) {
                const currency = await Storage.get({
                    key: 'currency'
                })
                await Storage.set({
                    key: 'currency',
                    value: currency.value - parseFloat(price)
                })
            },
            // following method is REQUIRED
            // (don't change its name --> "show")
            show() {
                this.$refs.dialog.show()
            },

            // following method is REQUIRED
            // (don't change its name --> "hide")
            hide() {
                this.$refs.dialog.hide()
            },

            onDialogHide() {
                // required to be emitted
                // when QDialog emits "hide" event
                this.$emit('hide')
            },

            onOKClick() {
                // on OK, it is REQUIRED to
                // emit "ok" event (with optional payload)
                // before hiding the QDialog
                this.$emit('ok')
                // or with payload: this.$emit('ok', { ... })

                // then hiding dialog
                this.hide()
            },

            onCancelClick() {
                // we just need to hide dialog
                this.hide()
            }
        }
    }
</script>
