<template>
  <q-page>
    <div class="col q-gutter-y-sm q-pa-md">
      <q-card class="shadow-5 bg-grey-2 text-dark">
        <q-item class="q-pa-md " clickable v-ripple>
          <q-item-section avatar>
            <q-btn color="black" text-color="white" round icon="mdi-chevron-double-left" size="md"
                   :to="{name: 'index'}"/>
          </q-item-section>
          <q-item-section>
            <q-item-label class="text-h6 text-bold" line="1"> {{ $t('servicesList.label') }}
            </q-item-label>
            <q-item-label class="text-body2 text-grey" lines="3">{{ $t('servicesList.description') }}</q-item-label>
          </q-item-section>
        </q-item>
      </q-card>
      <q-card class="shadow-5 bg-grey-2 text-dark" v-for="(item,index) in data" :key="index">
        <q-item class="q-pa-md " clickable v-ripple>
          <q-item-section avatar>
            <q-avatar size="50px" v-if="item.service_picture">
              <q-img :src="API + 'assets/products/' + item.service_picture" spinner-color="black"></q-img>
            </q-avatar>
            <q-avatar size="50px" v-else>
              <q-img src="~assets/brand/logo-club.jpg"></q-img>
            </q-avatar>
          </q-item-section>
          <q-item-section>
            <q-item-label class="text-body1 text-bold" line="1">
              {{ item.service_name }}
            </q-item-label>
            <q-item-label class="text-body2 text-grey" lines="2">{{ item.service_desc }}</q-item-label>
          </q-item-section>
          <q-item-section avatar class="q-pt-xs" top>
            <span class="text-caption text-capitalize">{{ $t('price') }}</span>
            <span class="text-secondary text-bold" style="font-size: 25px; margin-top: -8px">
                {{ item.service_total }}
            </span>
          </q-item-section>
        </q-item>
        <q-item class="q-pb-md q-px-md" clickable v-ripple>
          <q-btn color="dark" :label="$t('buyServices')" text-color="white" class="full-width q-py-xs" no-caps
                 @click="buyService(item)"
                 icon="mdi-cart-arrow-down"/>
        </q-item>
      </q-card>
    </div>
  </q-page>
</template>

<script>
    /* eslint-disable */
    import {Plugins} from '@capacitor/core'
    import buyFailed from 'components/buy/buyFailed'
    import buySuccess from 'components/buy/buySuccess'

    const {Storage} = Plugins

    export default {
        name: 'Index',
        created() {
            this.getDataFromServer()
            this.getInitialData()
        },
        computed: {
            API() {
                return process.env.API
            }
        },
        data() {
            return {
                data: [],
                user: null
            }
        },
        methods: {
            async getInitialData() {
                const user = await Storage.get({
                    key: 'clubMember'
                })
                this.user = JSON.parse(user.value)
            },
            getDataFromServer() {
                this.$q.loading.show()
                this.$axios.get(process.env.API + 'managment/services', {
                    params: {
                        pagination: {
                            page: 0,
                            pagesize: 20
                        },
                        orderby: [
                            {
                                id_service: 3
                            }
                        ],
                    }
                }).then(response => {
                    this.data = response.data.items
                    this.$q.loading.hide()
                }).catch(error => {
                    this.$q.loading.hide()
                    console.log(error)
                })
            },
            buyService(service) {
                this.$q.loading.show()
                this.$axios.post(process.env.API + 'managment/services/buy', {
                    service: {
                        name: service.service_name,
                        price: parseFloat(service.service_cost)
                    },
                    email: this.user.club_members_email,
                    test: false
                }).then(response => {
                        if (response.data.success) {
                            this.$q.dialog({
                                component: buySuccess,
                                parent: this,
                                product: {
                                    name: service.service_name,
                                    price: parseInt(service.service_total)
                                }
                            })
                            this.setCurrency(parseInt(service.service_cost))
                        } else {
                            this.$q.dialog({
                                component: buyFailed,
                                parent: this
                            })
                        }
                        this.$q.loading.hide()
                    }
                ).catch(error => {
                    this.$q.loading.hide()
                    console.log(error)
                })
            },
            async setCurrency(price) {
                const currency = await Storage.get({
                    key: 'currency'
                })
                await Storage.set({
                    key: 'currency',
                    value: currency.value - parseFloat(price)
                })
            }
        }
    }
</script>
