<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated class="bg-dark q-pa-sm">
      <q-toolbar>
        <q-avatar square>
          <img src="../assets/brand/logo-club.jpg">
        </q-avatar>
        <q-toolbar-title class="q-ml-md">
          <b class="text-bold text-h5 ">
            <span class="text-secondary">BE</span>
            <span class="text-accent">inAPP</span>
          </b>
          <span class="text-grey">
           wallet
          </span>
        </q-toolbar-title>
        <q-btn round>
          <q-icon color="secondary" name="mdi-web"></q-icon>
        </q-btn>
      </q-toolbar>
    </q-header>

    <q-page-container class="bg-image">
      <transition
        appear
        enter-active-class="animated fadeInRight"
      >
        <router-view/>
      </transition>
    </q-page-container>
  </q-layout>
</template>


<script>
    import {Plugins} from '@capacitor/core'

    const {Storage} = Plugins

    export default {
        name: 'MainLayout',
        components: {},
        data() {
            return {
                leftDrawerOpen: false,
                user: null
            }
        },
        async created() {
            await Storage.get({
                key: 'language'
            }).then(lang => {
                this.$i18n.locale = lang.value
            })
        },
        methods: {}
    }
</script>

<style scoped>
  .bg-image {
    position: relative;
  }

  .bg-image::after {
    opacity: 0.5;
    background-size: contain;
    content: "";
    background-image: url(../assets/brand/logo-bein.jpg);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
</style>
